.details-page-header-section {
    width: 100%;
    background-color: var(--primary);
    color: #fff;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    text-align: center;
    background-image: repeating-linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.05) 0px,
        rgba(255, 255, 255, 0.05) 1px,
        transparent 1px,
        transparent 20px
      ),
      repeating-linear-gradient(
        90deg,
        rgba(255, 255, 255, 0.05) 0px,
        rgba(255, 255, 255, 0.05) 1px,
        transparent 1px,
        transparent 20px
      );
  }

  .details-page-header-section h1 {
    font-size: 3.25rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .details-page-header-section p {
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    text-align: center !important;
  }

  @media (max-width: 768px) {
    .details-page-container {
      padding: 0px;
    }

    .details-page-header-section {
      padding-bottom: 1.75rem;
    }

    .details-page-header-section {
      padding-left: 0.75rem;
      padding-right: 0.751rem;
      padding-top: 1rem;
      padding-bottom: 1.25rem;
    }

    .details-page-header-section h1 {
      font-size: 1.5rem;
    }

    .details-page-header-section p {
      font-size: 1rem;
      margin-bottom: 0.25rem;
    }
  }

  .details-page-desc-section {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

    .details-page-desc-section .image_section {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .details-page-desc-section .image_section-cover {
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
    }

    .details-page-desc-section .main-image {
      
      width: 100%;
    }

    .details-page-desc-section .main-image img {
        width: 100%;
        height: 320px;
        border-radius: 0.375rem;
      }

    .details-page-desc-section .overlay-image {
      width: 40%;
      border-radius: 0.375rem;
      position: absolute;
      right: 0;
      bottom: 0;
      z-index: 2;
      box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
    }

    .details-page-desc-section .desc-text-section {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      gap: 1rem;
      padding: 1.5rem;
    }

    .details-page-desc-section .desc-text-section .desc-text-subtitle {
        display: none;
        color: var(--primary);
        font-size: 1.125rem;
        font-weight: 500;
      }

    .details-page-desc-section .desc-text-section h3 {
        font-size: 2.25rem;
        font-weight: 600;
      }

    .details-page-desc-section .desc-text-section p {
        font-size: 1.125rem;
      }

  @media (max-width: 768px) {
    .details-page-desc-section .desc-text-section h3 {
        font-size: 1.5rem;
      }

    .details-page-desc-section .desc-text-section p {
        font-size: 0.875rem;
      }
          .details-page-desc-section .main-image img {
        width: 100%;
        height: 220px;
        border-radius: 0.375rem;
      }
  }

    @media (min-width: 768px) {
    .details-page-desc-section {
      flex-direction: row;
    }
  }

  .wcu-section {
    max-width: 100%;
    width: 80rem;
    display: flex;
    flex-direction: column;
  }

    .wcu-section .wcu-text-section {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 0.75rem;
      align-items: center;
      justify-content: center;
      background-color: var(--primary);
      padding: 0.75rem;
      border-radius: 1rem;
    }

    .wcu-section .wcu-subtitle {
      font-size: 1rem;
      color: #fff;
    }

    .wcu-section .wcu-title {
      text-align: center;
      color: #fff;
      font-size: 1.25rem;
      font-weight: 600;
    }

    .wcu-section .wcu-desc {
      font-size: 1.125rem;
      color: #fff;
      text-align: center;
    }

    .wcu-section .wcu-points-section {
      padding-inline: 1.25rem;
      color: #fff;
      font-size: 1rem;
      font-weight: 400;
    }

    .wcu-section .wcu-points {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .wcu-section .wcu-points li {
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .wcu-section .wcu-points li svg {
        flex-shrink: 0;
        height: 1rem;
        width: 1rem;
        min-height: 1rem;
        min-width: 1rem;
        max-height: 1rem;
        max-width: 1rem;
        display: inline-block;
        vertical-align: middle;
      }

    .wcu-section .wcu-img-section {
      align-items: center;
      justify-content: center;
      display: flex;
      flex: 1;
    }

    .wcu-section .wcu-img-section img {
        width: auto;
        height: 280px;
        object-fit: fit;
      }

    @media (max-width: 768px) {
      .wcu-section .wcu-text-section {
        margin-inline: 10px;
      }

      .wcu-section .wcu-title {
        font-size: 1rem;
      }

      .wcu-section .wcu-points-section {
        color: #fff;
        font-size: 1.125rem;
        font-weight: 500;
      }

      .wcu-section .wcu-points li {
        font-size: 0.875rem;
      }

      .wcu-section .wcu-img-section {
        margin-top: 1rem;
      }
      
      .wcu-section .wcu-img-section img {
          display: none;
        }
    }

  @media (min-width: 768px) {
    .wcu-section {
      flex-direction: row;
    }
  }

  .features-section {
    padding: 1.25rem 1rem;
    max-width: 72rem;
    margin: 0 auto;
  }
    @media (min-width: 768px) {
      .features-section {
      padding-top: 2.25rem;
    }
  }

  .features-heading {
    font-size: 2.25rem;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem;
  }

  .features-description {
    max-width: 72rem;
    margin: 0 auto;
    font-size: 1.125rem;
    text-align: justify !important;
    opacity: 0.9;
    margin-bottom: 2rem;
  }

  @media (max-width: 768px) {
    .features-heading {
      font-size: 1.5rem;
    }

    .features-description {
      font-size: 0.875rem;
    }
  }

  .features-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 2rem;
    margin-top: 1rem;
  }

  @media (min-width: 768px) {
    .features-grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .feature-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.75rem;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .feature-card h3 {
    font-size: 1.25rem;
    font-weight: 700;
    color: var(--primary);
    margin-top: 0.5rem;
  }

  .feature-card p {
    margin-bottom: 1rem;
  }

  .feature-list {
    list-style: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .feature-list-item {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
  }

  .feature-list-item svg {
    margin-right: 0.5rem;
    color: var(--primary);
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0;
    min-height: 1.25rem;
    min-width: 1.25rem;
    max-height: 1.25rem;
    max-width: 1.25rem;
    display: inline-block;
    vertical-align: middle;
  }

  @media (max-width: 768px) {
    .feature-list-item {
      font-size: 0.875rem;
    }
  }
